{% extends 'base.html' %}


{% block title %}
        <title>Корзина</title>
{% endblock %}

{% block body %}
<div class="container">
    <p class="fs-5 text-muted">
    <h1>Оплата товаров</h1>
     <h1 class="display-4 fw-normal">
         <img style="display: block;-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" src="https://4.bp.blogspot.com/--35JRSjfWGc/WrLIpuohg7I/AAAAAAAAAgQ/zxWThcTdLDk8fwleKbXwa7zsnXQ82yAkwCLcBGAs/w1200-h630-p-k-no-nu/1707904.jpg">
</h1>
    </p>
</div>

{% endblock %}